<div class="row">
    <div class="col-xs-8">
        <ol class="breadcrumb">
            <li><a href="/Portal" title="home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
            <li><a href="/Portal/#/computers/search">Computer Management</a></li>
            <li ng-show="showadd" class="active">Add Computer</li>
            <li ng-show="showedit" class="active">Edit Computer</li>
        </ol>
    </div>
    <div class="col-xs-4" style="padding-top:3px;">
        <div class="pull-right">
            <a href="/Shibboleth.sso/Logout"><strong>LOG OUT</strong></a>
        </div>
    </div>
</div>


<!--<header>-->
<div class="app-section-lead">
    <h1 ng-show="showadd">Add Computer</h1>
    <h1 ng-show="showedit">Edit Computer</h1>
</div>
<!--</header>-->

<div ng-show="lastresults">
    <h3>Previous Action Results: {{errortext}}</h3>
    <p>{{resulttext}}</p>
</div>


<form  class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">Name*</label>
        <div class="col-sm-5">
            <input class="form-control" type="text" ng-model="form_name" ng-required="1" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Serial Number*</label>
        <div class="col-sm-5">
            <input class="form-control" type="text" ng-model="form_identifier" ng-required="1" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Repository</label>
        <div class="col-sm-5">
            <select class="form-control" ng-model="form_repo" ng-options="repo as repo.fullpath for repo in repos track by repo.id"></select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Window (Minutes)*</label>
        <div class="col-sm-5">
            <input class="form-control" type="text" ng-model="form_window" ng-required="showadd" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Client Identifier</label>
        <div class="col-sm-5">
            <input class="form-control" class="form-control" type="text" ng-model="form_forced_clientidentifier" />
            <span class="help-block">(Leave Blank for Defaults)</span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Force Rename</label>
        <div class="col-sm-5">
            <input class="form-control" type="checkbox" ng-model="form_rename_on_install" />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5 col-sm-offset-2">
            <button type="submit" class="btn btn-primary" ng-show="showadd" ng-click="computers_add()" value="Add Computer"/>Add Computer</button>
            <button type="submit" class="btn btn-primary" ng-show="showedit" ng-click="computer_update()" value="Update Computer"/>Update Computer</button>
            <button type="button" class="btn btn-default" ng-click="edit_cancel()" value="Cancel Page"/>Cancel</button>
        </div>
    </div>

</form>


