<!DOCTYPE html>
<html ng-app="myApp">

    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.js">
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-resource.js">
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-route.js">
        </script>
        <script src="components/dirPagination.js"></script>
        <script src="components/smart-table.min.js"></script>
        <script src="app.js"></script>
        <script src="ComputerService.js"></script>
        <script src="GroupService.js"></script>
        <script src="LoginService.js"></script>
	<script src="Menu.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="mainstyle.css"/>
        <meta charset="utf-8">
        <title>Munki Computer Certificate Portal</title>
    </head>
    <body>
        <div id="wrap">
            <div class="banner" role="banner">
                <img alt="University of Illinois" src="uillinois-wordmark-large.png"/>
            </div>
	    <div ng-controller="menuController">
	      <div class="container">
		<nav class="navbar navbar-default navbaruofi">
		  <div class="container-fluid">
		    <ul class="nav navbar-nav navbaruofi">
		      <li class="active navbar-default navbaruofi" ng-repeat="navitem in navitems"><a class="navbaruofi" href="{{navitem.url}}">{{navitem.name}}</a></li>
		    </ul>
		    <ul class="nav navbar-nav navbar-right navbaruofi">
		      <li class="active" ng-repeat="navitem in rnavitems"><a href="{{navitem.url}}">{{navitem.name}}</a></li>
		      <li class="active"><a ng-click="loginout()">{{username}}</a></li>
		    </ul>
		  </div>
		</nav>
	      </div>
	    </div>
            <div class="container">
                <div id="app-content" role="main">
                    <!--<a href="/Portal/#/">Home</a>-->
                    <div ng-view></div>
                </div>
            </div>
            <div id="push"></div>
        </div> <!-- End WRAP -->
        <div id="footer" role="contentinfo">
            <div class="container">
                <div class="row">
<!--                    <div class="col-sm-1">
                        <a target="_blank" href="http://illinois.edu" class="pull-right">
                            <img alt="Illinois logo" src="" />
                        </a>
                    </div>-->
                    <div class="col-sm-12">
                        <p>
                            Site developed by: <strong>
                                <a target="_blank" href="https://ischool.illinois.edu/">The iSchool at Illinois</a>
                            </strong>  |  
                            <a target="_blank" href="http://illinois.edu/">UNIVERSITY OF ILLINOIS AT URBANA-CHAMPAIGN</a>
                        </p>
                        <p> 
                            Need Help? <a href="#">Munki Portal Questions</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>

